<div class="container">
  <h1>Home Page</h1>
  <br/>
<div class="row">
  <div class="col-sm-3">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <p class="card-text"><a href="/delEmp" class="btn btn-secondary">Delete Employee</a></p>
  </div>
</div>
</div>
  <div class="col-sm-3">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
   <p class="card-text"><a href="/updateEmp" class="btn btn-secondary">Update Employee</a></p>
  </div>
</div>
</div>
  <div class="col-sm-3">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Add Employee</div>
  <div class="card-body">
    <p class="card-text"><a href="/addEmp" class="btn btn-secondary">Add Employee</a></p>
  </div>
</div>
</div>
  <div class="col-sm-3">
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Show Employee</div>
  <div class="card-body">
    <h4 class="card-title">Primary card title</h4>
    <p class="card-text"><a href="/showEmp" class="btn btn-secondary">show Employee</a></p>
  </div>
</div>
</div>
  
</div>
</div>
